{% extends "maat_app/base.html" %}

{% block title %}Participant Management{% endblock %}

{% block content %}
<div class="content">
    <h2>Participant Management</h2>
    <a href="{% url 'register_participant' %}" class="button">Register New Participant</a>
    <ul>
        {% for participant in participants %}
            <li>
                {{ participant.subject_id }}
                <a href="{% url 'edit_participant' participant.id %}" class="button">Edit</a>
                <a href="{% url 'delete_participant' participant.id %}" class="button">Delete</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}